# VS file types
*.suo
*.sdf
*.opensdf
*.obj
*.tlog
*.db
*.opendb
*.vspx
*.log

# VS folders
Source/AceEngine/Debug/
Source/AceEngine/Release/

# VS2015 cache/options dir
.vs/
Binaries/Debug/
Project/VS2015/Debug/
Project/VS2013/Release/
Project/VS2013/Debug/
Project/VS2015/Release/
Binaries/Release/
